html {
    background: #141d44;
    
}

body {
    
    display:flex;
    text-align: center;
    justify-content: center;
    color:white;
    flex-direction: column;
}

.titre {
font-size: 2.5em;;

}

.formulaire {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

input {
    color: black;
}

input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 1px solid black;
  }

  h2 {
    font-size:2em;
  }

  a {

    color: white;
  }

 
  th {

    border: 1px solid grey;
    
  }

  td {

    border: 1px solid grey;
    
  }
  tr:hover{
    background-color: #06070c85;
    ;
    
  }

  

img:hover {
  
  background-image: url(IMG/ampoule.png);

  animation: ampoule 2s ease 2s infinite normal forwards;
}
 

  table {

    border-collapse: collapse;
  }

  